In [1]:
#Importing dependencies

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv
from scipy.stats import stats
print ("dependencies imported")

C:\Users\vijet\anaconda3\lib\site-packages\ipykernel\parentpoller.py:113: UserWarning: Parent poll failed.  If the frontend dies,
                the kernel may be left running.  Please let us know
                about your system (bitness, Python, etc.) at
                ipython-dev@scipy.org
  warnings.warn("""Parent poll failed.  If the frontend dies,

dependencies imported

In [2]:
#Reading csv file
sstore_df = pd.read_csv('Global_Superstore_new.csv')
print ("file imported")

file imported

In [3]:
sstore_df.shape

(51290, 24)

In [4]:
#Viewing the first 5 rows
sstore_df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,31-07-2012,31-07-2012,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
1,26341,IN-2013-77878,5/2/2013,7/2/2013,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2013-71249,17-10-2013,18-10-2013,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2013-1579342,28-01-2013,30-01-2013,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,...,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2013-4320,5/11/2013,6/11/2013,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,...,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical

In [5]:
sstore_df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'City', 'State', 'Country',
       'Postal Code', 'Market', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost', 'Order Priority'],
      dtype='object')

## Data Cleaning and Pre-processing

In [6]:
#Checking for null values
sstore_df.isnull().sum()

Row ID                0
Order ID              0
Order Date            0
Ship Date             0
Ship Mode             0
Customer ID           0
Customer Name         0
Segment               0
City                  0
State                 0
Country               0
Postal Code       41296
Market                0
Region                0
Product ID            0
Category              0
Sub-Category          0
Product Name          0
Sales                 0
Quantity              0
Discount              0
Profit                0
Shipping Cost         0
Order Priority        0
dtype: int64

In [7]:
#Dropping 'Postal Code' column as it contains a lot of Null values
sstore_df = sstore_df.drop(['Postal Code'], axis = 1)

In [8]:
#Checking number of unique values in each column
sstore_df.nunique()

Row ID            51290
Order ID          25035
Order Date         1430
Ship Date          1464
Ship Mode             4
Customer ID        1590
Customer Name       795
Segment               3
City               3636
State              1094
Country             147
Market                7
Region               13
Product ID        10292
Category              3
Sub-Category         17
Product Name       3788
Sales             22995
Quantity             14
Discount             27
Profit            24575
Shipping Cost     10037
Order Priority        4
dtype: int64

In [9]:
#Dropping 'Row ID', 'Order ID' and 'Product ID' as the columnn are not significant for our analysis

ssclean = sstore_df.drop(['Row ID', 'Order ID', 'Product ID', 'Ship Date','Ship Mode','Customer ID',"Region",
                           'Customer Name','City','State','Market','Product ID','Sub-Category','Product Name',
                           'Order Priority'], axis = 1)

In [10]:
#Renaming columns if needed. Here, all the column name looks good
ssclean.columns

Index(['Order Date', 'Segment', 'Country', 'Category', 'Sales', 'Quantity',
       'Discount', 'Profit', 'Shipping Cost'],
      dtype='object')

In [11]:
#Data Dimension
ssclean.shape     #Rows and columns

(51290, 9)

In [12]:
#Converting Order Date column from object to datetime 
ssclean['Order Date'] = pd.to_datetime(ssclean['Order Date'])

In [13]:
#Viewing the first 5 rows
ssclean.head()

,Order Date,Segment,Country,Category,Sales,Quantity,Discount,Profit,Shipping Cost
0,2012-07-31,Consumer,United States,Technology,2309.650,7,0.0,762.1845,933.57
1,2013-05-02,Corporate,Australia,Furniture,3709.395,9,0.1,-288.7650,923.63
2,2013-10-17,Consumer,Australia,Technology,5175.171,9,0.1,919.9710,915.49
3,2013-01-28,Home Office,Germany,Technology,2892.510,5,0.1,-96.5400,910.16
4,2013-05-11,Consumer,Senegal,Technology,2832.960,8,0.0,311.5200,903.04

In [14]:
#To check data types of all the variables
ssclean.dtypes

Order Date       datetime64[ns]
Segment                  object
Country                  object
Category                 object
Sales                   float64
Quantity                  int64
Discount                float64
Profit                  float64
Shipping Cost           float64
dtype: object

In [15]:
#Describing the numerical attributes of the data set
#describe() function gives us the mean, std, min, max, etc for all the attributes of the data
ssclean.describe()

              Sales      Quantity      Discount        Profit  Shipping Cost
count  51290.000000  51290.000000  51290.000000  51290.000000   51290.000000
mean     246.490581      3.476545      0.142908     28.610982      26.375915
std      487.565361      2.278766      0.212280    174.340972      57.296804
min        0.444000      1.000000      0.000000  -6599.978000       0.000000
25%       30.758625      2.000000      0.000000      0.000000       2.610000
50%       85.053000      3.000000      0.000000      9.240000       7.790000
75%      251.053200      5.000000      0.200000     36.810000      24.450000
max    22638.480000     14.000000      0.850000   8399.976000     933.570000

In [16]:
#Checking range of Quantity
#You can check range of different columns to understand the distribution of the data

QuantityRange = max(ssclean.Quantity) - min(ssclean.Quantity)
print('Quantity Range : ' + str(QuantityRange))

Quantity Range : 13

In [17]:
#Shows the unique values in particular column
ssclean.to_csv('SSClean.csv', index=False)